.icon-other-images-invalid-watermark {
  width: 800px;
  height: 800px;
  background: url(/assets/images/other-images/icons.png) -0px -0px no-repeat;
}
.icon-icon-dengpao {
  width: 200px;
  height: 200px;
  background: url(/assets/images/other-images/icons.png) -800px -0px no-repeat;
}
.icon-other-images-password-find {
  width: 162px;
  height: 163px;
  background: url(/assets/images/other-images/icons.png) -800px -200px no-repeat;
}
.icon-logo {
  width: 82px;
  height: 26px;
  background: url(/assets/images/other-images/icons.png) -800px -363px no-repeat;
}
.icon-other-images-logo {
  width: 82px;
  height: 26px;
  background: url(/assets/images/other-images/icons.png) -882px -363px no-repeat;
}
.icon-other-images-logo-sm {
  width: 76px;
  height: 76px;
  background: url(/assets/images/other-images/icons.png) -800px -389px no-repeat;
}
.icon-elevator-active {
  width: 75px;
  height: 38px;
  background: url(/assets/images/other-images/icons.png) -876px -389px no-repeat;
}
.icon-other-images-logo-w {
  width: 62px;
  height: 62px;
  background: url(/assets/images/other-images/icons.png) -800px -465px no-repeat;
}
.icon-other-images-img01 {
  width: 10px;
  height: 56px;
  background: url(/assets/images/other-images/icons.png) -962px -200px no-repeat;
}
.icon-able-r2l {
  width: 40px;
  height: 31px;
  background: url(/assets/images/other-images/icons.png) -951px -389px no-repeat;
}
.icon-disable-r2l {
  width: 40px;
  height: 30px;
  background: url(/assets/images/other-images/icons.png) -876px -427px no-repeat;
}
.icon-disable-l2r {
  width: 40px;
  height: 30px;
  background: url(/assets/images/other-images/icons.png) -916px -427px no-repeat;
}
.icon-able-l2r {
  width: 40px;
  height: 30px;
  background: url(/assets/images/other-images/icons.png) -956px -427px no-repeat;
}
.icon-other-images-img {
  width: 19px;
  height: 28px;
  background: url(/assets/images/other-images/icons.png) -972px -200px no-repeat;
}
.icon-flag-expedited {
  width: 28px;
  height: 17px;
  background: url(/assets/images/other-images/icons.png) -972px -228px no-repeat;
}
.icon-flag-urgent {
  width: 28px;
  height: 17px;
  background: url(/assets/images/other-images/icons.png) -962px -256px no-repeat;
}
.icon-other-images-image {
  width: 20px;
  height: 20px;
  background: url(/assets/images/other-images/icons.png) -962px -273px no-repeat;
}
.icon-star-big-cancel {
  width: 16px;
  height: 16px;
  background: url(/assets/images/other-images/icons.png) -982px -273px no-repeat;
}
.icon-star-big-active {
  width: 16px;
  height: 16px;
  background: url(/assets/images/other-images/icons.png) -962px -293px no-repeat;
}
.icon-star-small-cancel {
  width: 12px;
  height: 12px;
  background: url(/assets/images/other-images/icons.png) -978px -293px no-repeat;
}
.icon-star-small-yellow {
  width: 12px;
  height: 12px;
  background: url(/assets/images/other-images/icons.png) -962px -309px no-repeat;
}
.icon-barrowdown12 {
  width: 12px;
  height: 12px;
  background: url(/assets/images/other-images/icons.png) -447px -315px no-repeat;
}
.icon-barrowdown12-hover {
  width: 12px;
  height: 12px;
  background: url(/assets/images/other-images/icons.png) -458px -302px no-repeat;
}
.icon-arrowdown12 {
  width: 12px;
  height: 12px;
  background: url(/assets/images/other-images/icons.png) -422px -302px no-repeat;
}

