//-- colors:start --//
$color-title: #24344E;
$color-border:#dddddd;
$color-text__des:#bbbbbb; //描述文本字体颜色
$color-text__default:#666666;//字体默认颜色
//-- colors:end --//

$fontSize-title__main:14px;//标题字体大小
$fontSize-text__des:12px;//文本字体大小


$size-border__default:1px;

$height-head:30px;



