{{#component "error-404 js-comp"}}
  <div class="row error-404-content">
    <div class="col-offset-3 col-3">
      <img src="/assets/images/other-images/error-page.png"/>
    </div>
    <div class="col-4 col-offset-1 error-404-desc">
      <h1>抱歉，页面无法访问...</h1>
      <p>可能原因：权限不足 > 请联系您的机构管理员确认是否有此权限</p>
      <p class="follow-line">网址有错误 > 请检查地址是否完整或存在多余字符</p>
      <p class="follow-line">网址已失效 > 可能页面已删除，活动已下线等</p>
      <a class="btn btn-info" href="/index">返回首页</a>
    </div>
  </div>
{{/component}}
