{{#component "medical-search js-comp"}}
<div class="hide">{{json _DATA_}}</div>
{{#inject "zcyEvE/comp/header"}}
    {
      "id": "-99",
      "_categoryVisible": false  
    }
{{/inject}}
<div class="eevee-clu-line-search eevee-grids">
  <div class="eevee-col-row">
    <div class="eevee-col-box" style="">
      {{inject "zcyEvE/comp/goods_search"}}
    </div>
  </div>
</div>
{{/component}}