{{#component "common_evaluationLine"}}
<div class="evaluationLine">
  <span class="level {{#equals value 1}}label-popover{{/equals}}">1
    <span style="display:none" class="label-span">1星</span>
  </span>
  <span class="level {{#equals value 2}}label-popover{{/equals}}">2
    <span style="display:none" class="label-span">2星</span>
  </span>
  <span class="level {{#equals value 3}}label-popover{{/equals}}">3
    <span style="display:none" class="label-span">3星</span>
  </span>
  <span class="level {{#equals value 4}}label-popover{{/equals}}">4
    <span style="display:none" class="label-span">4星</span>
  </span>
  <span class="level {{#equals value 5}}label-popover{{/equals}}">5
    <span style="display:none" class="label-span">5星</span>
  </span>
</div>
{{/component}}