@import "compass/css3/inline-block";
@import "pokeball/theme";
@import "compass/css3/box-sizing";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/images";

$parTextColor: #666;
$subTextColor: #151515;
$borderColor: #eee;
$bgColor: #f5f5f5;
$blueColor: #0876FF;
$greenColor:#8CC238;
$priceColor: #FF5342;
$cartSubmitColor: #FF7056;
$loading-prefix-cls: 'wc-spin';
$loading-background-color: #24344E;

.component-goods-supplierSearch-list {
  font-family: "PingFangSC-Regular", "Microsoft YaHei", "微软雅黑";

  .js-search-list {
    min-height: 500px;

    .#{$loading-prefix-cls} {
      position: fixed;
      top: 45%;
      left: 50%;
      width: 120px;
      height: 120px;
      margin: -60px 0 0 -60px;
      border-radius: 16px;
      background-color: $loading-background-color;
      opacity: .45;
      z-index: 999;

      &-circle-bg {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 64px;
        height: 64px;
        margin: -32px 0 0 -32px;
        border-radius: 50%;
        border: 4px solid #f7f7f7;
      }

      &-circle {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 64px;
        height: 64px;
        margin: -32px 0 0 -32px;
        border-radius: 50%;
        clip: rect(0 64px 64px 32px);
        background-image: linear-gradient(#f7f7f7, rgb(183, 193, 208));
        animation: wc-spin .8s linear infinite;
      }

      &-circle-mask {
        position: absolute;
        top: 4px;
        left: 4px;
        width: 56px;
        height: 56px;
        border-radius: 50%;
        background-color: $loading-background-color;
      }

      &-icon i {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 32px;
        height: 32px;
        margin: -10px 0 0 -13px;
        color: #fff;
        font-size: 26px;
      }
    }

    @keyframes wc-spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }

  .bold {
    font-weight: bold;
  }
  
  .goods-search-list, .nav-bar {
    width:1200px;
    .hide {
      display: none !important;
    }
    a {
      color: $subTextColor;
      &:hover {
        color: $greenColor !important;
        text-decoration: none !important;
      }
    }
    .more-dd {
      width: 47px;
      height: 24px;
      font-size: 12px;
      margin: 6px 10px 8px 5px;
      padding: 3px 5px;
      line-height: 24px;
      display:inline-block;
      border-color: #dddddd;
      i {
        color: $color-text-secondary-assist;
        font-size: 12px;
        float:right;
      }
      &:hover {
        & {
          border: $greenColor;
        }
        i, a {
          color: $greenColor;
        }
      }
    }
    .more-options {
      width: 47px;
      height: 24px;
      font-size: 12px;
      margin: 8px 10px 8px 5px;
      padding: 5px 5px;
      border-color: #dddddd;
      background: #fff;
      i{
        font-size: 12px;
        margin-left:-3px;
        margin-top:-2px;
      }
      &:hover {
        & {
          border: 1px solid $greenColor;
        }
        i, a {
          color: $greenColor;
        }
      }
    }

    .more-dd {
      float: right;
    }

    .current-location-dark {
      padding: 9px 0;
      font-size: 12px;
      color: $parTextColor;
      box-sizing:border-box;
    }
    .print-btn {
      height: 24px;
      width: 90px;
      font-size: 12px;
      margin-top: 3px;
      line-height: 17px;
      padding: 2px;
      background: #F8F8F8;
      border: 1px solid #DDDDDD;
      color: #314058;
      &:hover {
        color: #FFF;
        background-color: $greenColor;
        border: 1px solid $greenColor;
      }
    }
    .filter-btn {
      height: 24px;
      width: 80px;
      font-size: 12px;
      margin-right: 0px;
      line-height: 17px;
      padding: 2px;
      border: 1px solid #DDDDDD;
      color: #314058;
    }

    .current-location-span {
      display:inline-block;
      max-width:1100px;
      min-height: 30px;
      line-height: 30px;
      i {
        @include inline-block(baseline);
        margin-left: 0px !important;
        color: $color-text-secondary-assist;
        font-size:12px;
        &.chosen-close {
          @include inline-block(bottom);
        }
      }

      .bread-selector {
        @include inline-block(middle);
        background-color: #fff;
        border: 1px solid #e6e6e6;
        padding: 0 0 0 6px;
        height: 22px;
        line-height: 22px;
        i {
          width: 20px;
          height: 21px;//兼容ie8 下沉1px
          line-height: 22px;
          display:inline-block;
          font-size:12px !important;
          vertical-align: baseline;
          position: relative;
          top:-1px;//兼容ie8 下沉1px
          &:before {
            margin: 5px;
          }
        }
        &:hover {
          color: #151515 !important;
          border-color: $greenColor;
          i {
            background: $greenColor;
            color: #fff;
          }
        }
      }
    }

    .nav-group dl {
      padding: 0;
      border-bottom: 1px solid $borderColor;
      line-height: 30px;

      dt, dd {
        vertical-align: top;
      }

      dd {
        span {
          margin-left: initial;
        }
      }

      dt {
        width: 120px;
        padding: 6px 10px 6px 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: left;
        background-color: $bgColor;
        top: 0px;
        &[title] {
          height: 41px;
          background-color: white;
        }
        &.bold {
          color: #333;
        }
        color: $parTextColor;
      }

      .other-options {
        position: relative;
        margin: 0;
        height: 41px;
        line-height: 41px;
        overflow: visible;
        z-index: 99;
        overflow: visible;
        a.attr {
          position: relative;
          display: inline-block;
          padding: 0 16px;
          line-height: 39px;
          z-index: 90;
          &.clicked {
            background: #fff;
            border: 1px solid #DDDDDD;
            padding: 0 15px;
            border-bottom: 0;
            //box-shadow: -1px -1px rgba(0,0,0,0.20);
          }
        }
        .otherAttrSearch {
          position: absolute;
          z-index: 80;
          background: #FFFFFF;
          border: 1px solid #DDDDDD;
          //box-shadow: 0 0 3px 0 rgba(0,0,0,0.20);
          margin: 0 !important;
          margin-top: -1px !important;
          .more-options {
            height: 24px;
            margin: 8px 10px 8px 5px;
            float: right;
            width: 47px;
            padding: 3px 5px;
            display:inline-block;
            i{
              color: $color-text-secondary-assist;
              font-size: 12px;
            }
            a {
              padding:0;
              line-height: 12px;
            }
          }
          .list-more {
            height: auto !important;
            .attr-dd {
              vertical-align: middle;
              line-height: 34px;
            }
          }
        }
      }

      .list-more {
        dd {
          width: 165px;
          margin: 0 0 0 15px;
          a, .name{
            display:inline-block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            vertical-align: middle;
          }
          a {
            max-width: 120px;
          }
          .name {
            max-width: 80px;
            color: #24344e;
          }
          span{
            display:inline-block;
            vertical-align:middle;
          }
          .input-checkbox {
            vertical-align: text-bottom;
            margin-right: 0px;
          }
        }
      }

      dd {
        button {
          margin-top: 4px;
        }
        span {
          color: #999;
        }
      }
    }

    .attr-list,
    .brand-list,
    .attrs-list-sub,
    .categories-list,
    .catalogs-list,
    .plans-list {
      @include inline-block(middle);
      margin: 6px 0;
      overflow: hidden;

      .brand-buttons {
        text-align: center;
        margin-top: 14px;
        .brand-cancel-btn {
          background: #fff;
          border-color:#ddd;
          &:hover {
            color:$greenColor;
            border-color: $greenColor;
          }
        }
      }
    }

    &.hall-search {
      .attr-list,
      .brand-list,
      .categories-list,
      .catalogs-list,
      .plans-list{
        width: 660px;
      }
    }

    .categories-list {
      overflow: hidden;
    }

    .js-more {
      color: $navy;
      text-decoration: none;
      // margin-right: 0px;
      &:hover {
        text-decoration: none;
      }
    }

    .s-more {
      text-align: center;
      height: 36px;
      line-height: 36px;
      top: -1px;
      position: relative;
      border-top: 1px solid $color-border-dark;

      .sm-wrap {
        position: relative;
        display: inline-block;
        margin-top: -1px;
        height: 28px;
        line-height: 28px;
        padding: 0 40px 0 20px;
        border-width: 1px;
        border-style: solid;
        border-color: $white $color-border-dark $color-border-dark;
        background: $white;
        cursor: pointer;
        color: $default-front-body-color;
        -webkit-transition: border-color .15s ease-in-out;
        -moz-transition: border-color .15s ease-in-out;
        transition: border-color .15s ease-in-out;
      }
      .sm-text {
        margin-right: 5px;
      }
    }

    .dd-cancel {
      label {
        color: $color-text;
      }
    }

    .list-more.active {
      overflow: auto;
      max-height: 102px;
    }

    .category-nav {
      margin-bottom: 10px;
      padding: 0;
      border: 1px solid $borderColor;
      border-bottom: 0;
      background-color: #ffffff;

      .list-more {
        height: 28px;
        line-height: 26px;
        width:930px;
      }

      .sl-text {
        dd {
          width: auto;
        }
      }
    }

    .plan-nav {
      margin-bottom: 10px;
      padding-left: 16px;
      padding-right: 0;
      border: 1px solid $borderColor;
      background-color: $bgColor;
      line-height: 40px;
      span {
        vertical-align: middle;
        display: inline-block;
        line-height: 41px;
      }
      dl {
        border-bottom: 0;
      }
      a {
        margin-right: 20px;
      }
      a.js-elects {
        margin-right: 0px;
      }
      a.js-more {
        margin-right: 0px;
      }
      .list-more {
        height: 28px;
        dd {
          width: auto !important;
        }
      }
    }

    .filter {
      line-height: 40px;
      padding: 0 10px;
      background-color: $bgColor;
      border: 1px solid $borderColor;
      position: relative;
      vertical-align: middle;

      .view-mode {
        display:inline-block;
        &-type {
          width: 45px;
          display: inline-block;
          text-align: center;
          cursor: pointer;
          color: #aaa;
          i {
            font-size: 12px !important;
            margin-right: 4px;
            color: #aaa;
          }
          &.active {
            border: inherit;
            color: #8CC238 ;
            background-color: inherit;
            i {
              color: #8CC238;
            }
          }
        }
      }
      .js-item-sort {
        vertical-align: baseline;
      }
      .filter-form {
        @include inline-block(middle);
        display:inline-block;
        input[type="number"].input-small.p_t, input[type="number"].input-small.p_f{
          height: 26px;
          width:76px !important;
          font-size:12px;
          line-height:normal;
          vertical-align: middle;
          padding-left: 13px !important;
          &:focus{
            border-color:#8CC238;
          }
        }
      }
      .price-hide-btn {        
        button {
          font-size:12px;
          height:26px !important;
          color:#fff;
          // line-height:26px;
          width:50px !important;
          background:#8CC238 ;
          padding: 5px 0;
          vertical-align: middle;
          border:0;
          span.submit-span {
            position: relative;
          }
          &:hover {
            background:#82BA2A;
            color:#fff;
          }
        } 
        span.js-filter-clear {
          height:26px !important;
          font-size:12px;
          padding-top:6px;
          vertical-align: middle;
          background: #fff;
          border-color:#ccd0d6;
          &:hover {
            border-color:#8CC238;
            color:#8CC238;
          }
        }
      }
      .selectric{
        width:76px;
        height:26px;
        line-height: 26px;
        padding:3px 1px;
        .button {
          right:-2px;
          top:-2px;
        }
        .button:after {
          border-top-color: #999;
          padding-top:2px;
        }
        .label {
          color:#666;
        }
      }
      
      
      .total-result {
        color: #999;
        display:inline-block;
        i {
          vertical-align: top;
        }
        .total {
          margin-right: 12px;
          span {
            margin: 0 2px;
            color: #333;
          }
        }
        .custom-pagination {
          display: inline-block;
          height:41px;
          border-left: 1px solid #eee;
          border-right:1px solid #eee;
          vertical-align:middle;
           .custom-pageNo {
            color: #8CC238;
          }
        }
      }
      .filter-checkbox {
        position: relative;
        float: left;
        margin-left: 15px;
        .filter-container {
          width: 420px;
          .content {
            line-height: 37px;
          }
        }
        .show-more-filter {
          vertical-align: middle;
          margin-left: 30px;
          span {
            color: #333 !important;
          }
          i {
            color: #999;
          }
        }
        span.box {
          margin-right: 10px;
          input {
            margin-right: 4px;
            vertical-align: middle;
          }
          span {
            vertical-align: middle;
          }
        }
      }
      
    }

    .filter-activity {
      border-bottom:1px solid #eee;
      .filter-banner {
        @include inline-block(inherit);
        vertical-align: middle;
        .btn {
          position: relative;
          width: 76px;
          height: 26px;
          background: #FCFDFF;
          border: 1px solid #D8D8D8;
          float: left;
          color: $parTextColor;
          padding: 0 10px !important;
          text-align: left;
          &:last-child {
            border-right: 1px solid #d8d8d8;
          }        
          i {
            position: absolute; 
            color: #c5c5c5;
            font-size: 8.6px !important;
            &.icon-triangleup.both {
              top: 3px;
              top:-3px \9;
              right: 10px;
            }
            &.icon-trianglebottom.both {
              top: 10px;
              top:3px \9; 
              right: 10px;
            }
            &.icon-trianglebottom.single {
              right: 10px;
            }
            &.active {
              color: #fff;
            }
          }
          &.active {
            color: #fff;
            background-color: $greenColor;
            border-color: $greenColor;
          }
          &:hover {
            border: 1px solid $greenColor !important;
            -webkit-transition: initial;
            -moz-transition: initial;
            transition: initial;
          }
        }
        .btn-short {
          position: relative;
          width:62px;
          height: 26px;
          background: #FCFDFF;
          border: 1px solid #D8D8D8;
          border-right: 0;
          float: left;
          color: $parTextColor;
          text-align: left;
          box-sizing: border-box !important;
        }
      }    
    }
    .trans-select {
      height: 26px;
      width:76px !important;
    }

    .list {
      margin-top:24px;
      ul {
        padding-top: 0;
      }
      li {
        width: 228px;
        height: 378px;
        margin:0 15px 14px 0;
        &.product {
          border: 1px solid #eee;
          .product-image {
            width: 210px;
            height: 210px;
            margin-left:-2px;
            margin-top:-2px;
            border:1px solid #FAFAFA;
            display:relative;
            a {
              display:block;
              line-height: 0;
              font-size:0px;
            }
            img {
              // display:inline-block;
              text-align:center;
              line-height:210px;
              font-size:14px;
              vertical-align: bottom;//?
              float:left;
            }
            .tradeType-icon {
              height:18px;
              width:42px;//?
              position: absolute;
              z-index:2;  
              top: -5px;
              left: 182px;
              .batch-icon {
                font-size: 12px;
                float:left;
                padding:0px 7px;
                background:#8CC238;
                color:#fff;
              }
              .bid-icon {
                font-size: 12px;
                padding:0px 7px;
                float:left;
                background:#4ACEC8;;
                color:#fff;
              }
              .tradeType-triangle-batch {
                padding-left: 0px;
                width: 0;
                height: 0;
                border-bottom: 4px solid #82BA2A;
                border-right: 4px solid transparent;
                display:inline-block;
                position: absolute;
              }
              .tradeType-triangle-bid {
                padding-left: 0px;
                width: 0;
                height: 0;
                border-bottom: 4px solid #41B6B0;
                border-right: 4px solid transparent;
                display:inline-block;
                position: absolute;
              }
            }          
          }

          .product-price {
            margin: 16px 0 12px 0px;
            height:22px;
            line-height:22px;
            font-size:20px;
            .currency {
              font-family: Arial-BoldMT;
              color: $priceColor !important;
            }
            .market-price {
              font-size:12px;
              vertical-align: middle;
              font-family: MicrosoftYaHei;
              color: #999;
              span {
                text-decoration:line-through;
              }
            }
          }
          .product-desc {
            width: 208px;
            height:32px;
            margin:0px 0 12px 0;
            font-family: MicrosoftYaHei;
            font-size: 12px;
            line-height:16px;
            color: #333;
            overflow: hidden;
            text-overflow: ellipsis;
            word-wrap: break-word;
            word-break: keep-all;
          }
          .sale-discountRate {
            margin:0 0 12px 0px;
            height:20px;
            display:inline-block;
            background: #F4F9EC;
            border-radius: 2px;            
            span {
              font-family: MicrosoftYaHei;
              font-size: 12px;
              line-height:20px;//与总高度一致
              color: #82BA2A;
              padding:0 4px 0 4px;
            }
          }
          .sale-quantity {
            width:226px;
            height:28px;
            padding-left:10px;
            background: #FFF;
            border-top: 1px solid #EEE;
            display:block;
            margin-left:-10px;
            .product-ownerp span{
              // 暂时不做对比
              // width: 148px;
              //  border-right:1px solid #EEE;
              line-height:30px;
              // overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              display: inline-block;
              // vertical-align: middle;
              position: relative;
              span {
                font-family: MicrosoftYaHei;
                // margin:8px 10px;
                font-size:12px;
                line-height:30px;
                color:#666;
              }
            }
            .font-12 {
              font-size: 12px !important;
            }
            .insert-compare {
              position: absolute;
              //right: 10px;
              //bottom: 4px;
              width:80px;
              font-size:12px;
              line-height:30px;
              display:line-block;
              .compare-checkbox {
                //float: right;
                width:14px;
                height:14px;
                margin: 8px 10px 8px 16px;
              }
            }
          }
        }
        &.product.last {
          margin-right: 0;
        }
        &:hover, &.hovered {
          background: #FFFFFF;
          border: 1px solid #EEEEEE;
          box-shadow: 0 0 5px 0 rgba(0,0,0,0.10);
        }

        
        .check-select {
          position: absolute;
          i {
            font-size: 20px;
            color: $color-secondary;
          }
          &.active {
            i {
              color: $color-danger;
            }
          }
        }
        .add-cart {
          float: right;
          margin-right: 20px;
          i {
            font-size: 30px;
            color: black;
          }
        }
      }

      .view-mode-list {
        font-family: MicrosoftYaHei;
        color: #666;
        th, td {
          white-space: normal;
        }
        td {
          vertical-align: middle;
          font-size: 12px;
          line-height: 16px;
        }
        th {
          font-size: 12px;
          line-height: 16px;
          letter-spacing: 0;
        }
        .product-name {
          width:95%;
          height:21px;
          margin-left:7px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          display: inline-block;
          // 批量样式
          .batch {
            font-size: 12px;
            color: #8CC238;
            border:1px solid #8CC238;
            padding:0 5px;
          }
          // 竞价样式
          .bid {
            font-size: 12px;
            color: #4ACEC8;
            border:1px solid #4ACEC8;    
            padding:0px 5px;
          }
          a {
            font-style: normal;
            font-size: 14px;
            line-height: normal;
          }
        }
        .product-type {
          a {
            color: #999;
          }
          margin-bottom: 6px;
        }
        .product-tag {
          margin-right: 5px;
          display: inline-block;
          position: relative;
        }
        .item-services {
          a {
            margin-right: 5px;
          }
        }
        thead {
          > tr {
            background: #fff;
            height: 40px;
            th {
              border:0;
            }
          }
        }
        tbody {
          > tr {
            height:45px;
            td {
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
            &:hover {
              background: #F4F9EC;
            }
            a {
              &:hover {
                color: $greenColor;
              }
            }
          }
          .price-style{
            font-family: PingFangSC-Semibold;
            color: #FF5342;
            font-size: 16px;
            line-height: 22px;
            letter-spacing: 0;
          }
          em{
            font-style:normal;
            color: #CC751F;
          }
        }
        display: none;
      }
    }

    .view-list {
      .view-mode-thumb{
        display: none;
      }
      .view-mode-list {
        display: table;
      }
    }


    .product-owner {
      width: 150px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      //display: inline-block;
      vertical-align: middle;
    }

    .list-pagination {
      width: 100%;
      padding: 25px 0;
      text-align: center;
      font-size: 12px !important;
    }
    .pagination {
      span.current {
        border:1px solid $greenColor;
        border-left:1px solid #dfdfdf;
        background: $greenColor;
      }
      span.current.prev {
        background-color: white;
        border-color:#dfdfdf;
      }
      input[name="go-page"] {
        &:focus{
          border-color:$greenColor;
        }
      }
      button[type="number"] {
        background: #fff;
        border-color:#eee;
        &:hover {
          border-color:$greenColor;
          background: $greenColor;
          color:#fff;
        }
      }
    }
    .disappear {
      display: none;
    }

    .product-desc em {
      color: #CC751F;
      font-style: normal;
    }

    .sale-volume {
      float: right;
    }
    .list-pagination {
      text-align: right;
      font-size: 14px;
    }
  }
  .fix-nav-bar {
    position: fixed;
    z-index: 999;
    top: 0;
    background-color: #F4F3F4;
    box-shadow: 0 2px 2px 0 #ddd;
    .filter-  {
      margin: 0 auto;
      border: 0;
      padding-right: 0;
      vertical-align: middle;
      font-size:12px;
      line-height:40px;
    }
    .filter-checkbox {
      margin-left: 10px;
      margin-top: -18px;
      display:inline-block;
      vertical-align: middle;
      // position: initial !important;
      // float: initial !important;
    }
    .filter-search {
      width: 195px;
      display: inline-block;
      .search-input {
        width: 140px;
        height: 24px;
        vertical-align: middle;
        background: #FFFFFF;
        border: 1px solid #DDDDDD;
        border-right: 0;
      }
      .search-button {
        background: #0876FF;
        vertical-align: middle;
        margin-left: -4px;
        padding: 5px 8px;
      }
    }
  }
  .none-item-container {
    width: 100%;
    height: 550px;
    &.bg {
      background: #fff;
    }
    .main-content {
      background: #fff;
      position: relative;
      margin-top: 80px;
      margin-left: 250px;
      img {
        width: 228px;
        height: 218px;
        margin-right: 60px;
        float:left;
      }
      .announce-content {
        display: inline-block;
        margin-top:80px;
        .title {
          font-family: MicrosoftYaHei;
          display: inline-block;
          font-size: 24px;
          color: #24344E;
        }
        // .detail {
        //   p {
        //     margin:0 0;
        //     font-size: 14px;
        //     line-height: 19px;
        //     color:rgba(51,51,51,0.80);
        //   }
        // }
      }
    }
  }
  .component-select-product {
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 999;
    background-color: white;
    background: #FFFFFF;
    box-shadow: 0 -3px 0 0 #0876FF;
    left: 0;
    text-align: center;
    .product-contrast-li {
      width: 240px;
      padding: 15px 0;
      &:first-child {
        background-color: #fff;
        text-align: center;
        border-right: 0;
        margin-right: 30px;
      }
      .product-img {
        margin-left: 13px;
        width: 70px;
        height: 70px;
        &.number-product {
          font-family: ArialMT;
          font-size: 48px;
          font-weight: normal;
          color: #DADADE;
          line-height: 70px;
        }
      }
      .pull-more-right {
        width: 148px;
        font-family: MicrosoftYaHei !important;
        font-size: 12px;
        color: #999999;
        border-right: 1px solid #ddd;
        font-weight: normal;
        line-height: 70px;
      }
      .right-detail {
        width: 148px;
        height: 70px;
        padding: 0 10px;
        border-right: 1px solid #ddd;
        .title {
          text-align: left;
          height: 32px;
          line-height: 16px;
          overflow: hidden;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
        }
        span {
          line-height: 16px;
          text-align: left;
          float: left;
        }
        .sale-details, .delect-selected {
          margin-top: 0px !important;
        }
      }
      .anon-contrast {
        font-family: MicrosoftYaHei;
        font-size: 16px;
        color: #FFFFFF;
        line-height: 21px;
        background-color: $greenColor;
        padding: 6px 14px;
      }
      .clear-hide-oper {
        margin: 13px 0 0 13px;
        a {
          margin-right: 10px;
        }
      }
    }
  }
  .supplier-no-goods {
    width: 100%;
    padding: 40px 0;
    text-align: center;
    img {
      width: 309px;
      height: 287px;
      margin-right: 20px;
      vertical-align: middle;
    }
    span {
      height: 34px;
      font-size: 24px;
      width: 280px;
    }

  }
  .tooltips {
    margin: 7px 0 0 -10px;
    padding: 11px;
    position: relative;
    width: 227px;
    background: #fff;
    border: 1px solid #DDDDDD;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.20);
    text-align: left;
    color: $parTextColor;
    z-index: 999;
    .triangle {
      position: absolute;
      top: -5px;
      left: 13px;
      overflow: hidden;
      width: 10px;
      height: 10px;
      background:#fff;
      border-left: 1px solid #DDDDDD;
      border-top: 1px solid #DDDDDD;
      -webkit-transform :rotate(45deg);
      -moz-transform :rotate(45deg);
      -o-transform  :rotate(45deg);
      transform   :rotate(45deg);
    }
  }
  

  // .btn-primary, .btn, .btn-group .btn.active {
  //   background: $greenColor ;
  // }
 

  //放最后
  .btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active {
    color:$greenColor;
    border-color:$greenColor;
    background: #fff;
  }

}
//css3 ie9及以上识别
:root .js-item-agreementPrice{
  .icon-triangleup.both {
    padding-top: 6px\9;
  }
  .icon-trianglebottom.both {
    padding-top: 6px\9;
  }
}


