<li id="{{data.id}}" type="1">
  <div class="modal-image">
    <i class="iconfont icon-wenjianjia"></i>
    <button class="btn btn-mini btn-trash js-folder-delete" data-id="{{data.id}}">×</button>
    <span class="item-name" title="{{data.name}}">{{data.name}}</span>
  </div>
</li>
