<div class="modal modal-dialog shopcart-dialog">
  <div class="modal-dialog-icon">
    <i class="icon-zcy icon-notify-warning icon-delete-warning" style="color:red"></i>
  </div>
  <div class="modal-dialog-message">
    <h3>确定要删除该商品吗</h3>
    <br/>
    <div class="text-center mb">
      <button class="btn btn-small delete-close mr" style="background: #fff;border: 1px solid #ddd;color: #999999;">取消</button>
      <button class="btn btn-small btn-primary delete-submit">确定</button>
    </div>
  </div>
</div>
