<div class="modal modal-dialog">
  <div class="modal-dialog-icon ">
    <i class="icon-pokeball icon-pokeball-notify-error error-status"></i>
  </div>
  <div class="modal-dialog-message" style="width:300px;">
    <h3>竞价单生成失败！</h3>
    <p>生成多品牌竞价单，请检查是否满足一下条件：</p>
    <span>（1）请选择同一类目不同品牌的商品</span><br>
    <span>（2）请选择最少3个，最多10个品牌</span><br>
    <span>（3）品牌商品之间差不超过20%比例</span>
    <div class="modal-controls">
      <button class="btn btn-minor submit close">知道了</button>
    </div>
  </div>
</div>