<ul>
  <li>协议单价低于{{this.money}}万元以下的商品采取竞价采购交易方式。</li>
  <li>竞价采购，选择单一品牌型号或者多个不同品牌型号商品发起竞价，在规定竞价起止时间内（由采购人设置）符合要求的供应商或供货商都可以报价响应，系统按照最低报价规则自动推荐成交供应商。</li>
  <li>选择单一品牌商品，发起单品牌竞价；选择同一种商品类目且多个不同品牌商品，发起多品牌竞价，品牌数量最少{{this.min}}个，最多不超过{{this.max}}个，品牌商品之间差值不超过{{this.percent}}%比例。</li>
</ul>