{{#component "medical-compare js-comp"}}
<div class="hide">{{json _DATA_}}</div>
<div class="eevee-clu-line-0 eevee-grids">
  <div class="eevee-col-row">
    <div class="eevee-col-box" style="">
      {{inject "zcyEvE/comp/detail"}}
    </div>
  </div>
</div>
{{/component}}