<div id="address-edit-list">
    <table class="table">
        <thead>
        <tr>
            <th width="5%">选择</th>
            <th width="20%">详细地址</th>
            <th width="10%">收货人</th>
            <th width="10%">手机</th>
            <th width="10%">电话</th>
            <th width="12%">数量</th>
            <th>备注</th>
            {{#if hasAction}}
                <th width="80px">操作</th>
            {{/if}}
        </tr>
        </thead>
        <tbody data-type="showItems"></tbody>
        <tbody data-type="hideItems" style="display: none"></tbody>
    </table>
</div>

