{{#component "phoneFindSuccess forget-password js-comp"}}
  <div class="panel pl pr pt mb0 pb0">
    <div class="row" id="forgetPasswordProcessBar"></div>
  </div>
  <div class="panel mt0 pl pr" style="text-align:center">
    <img align="center" height="120" src="/assets/images/other-images/password-find.png"/>
    <br>
    <h2>验证成功!</h2>
    <p>
      现在您可以返回继续采购了！请重新登录
    </p>
    <br>
    <a href="javascript:;">
      <button id="commit" class="btn btn-primary btn-large center" name="commit">返回登录</button>
    </a>
  </div>
{{/component}}
