<div class="zcy-pagination">
  <div class="page-size-controller page-size-controller-tankuang">
    <label>共有<span id="pagination-total" data-total="{{total}}">{{total}}</span>条，每页显示：</label>
    <select class="items-per-page-selector" id="items-per-page-selector">
      <option value="10" selected="">10</option>
      <option value="25">25</option>
      <option value="50">50</option>
      <option value="100">100</option>
    </select>
  </div>
  <div class="pagination pagination-tankuang"></div>
</div>