{{#component "medical-login-page js-comp"}}
<div class="hide">{{json this}}</div>
{{#inject "zcyEvE/comp/header"}}
  {
    "id": "-99",
    "_categoryVisible": false
  }
{{/inject}}

<div class="login-container layout">
  {{inject "comps/error" backUrl="/medical/index"}}
</div>

{{/component}}