<div class="control-group">
  <label class="control-label">{{i18n "Promotions" bundle="all_mix"}}：</label>
  <div class="controls activity-list">
    <ul>
      {{#each data}}
        <li title="{{description}}">{{description}}</li>
      {{/each}}
    </ul>
    <span class="caret"></span>
  </div>
</div>
